:root {
  --Color_Main: #E1D4C9;
  --Color_Dark: #403F3D;
  --Color_white: #E1D4C9;
  --Color_Brown: #B0907A;
  --Color_Dark-border:#665F55;
  --Color_light-border:#C1B6AD;
  --Background-Backdrop: #444444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 250ms linear;
}

html {
  background-color: white;
  scroll-behavior: smooth;
  background-color: var(--Color_Main);
}

@media (max-width: 1170px) {
  html {
    font-size: 80%;
  }
}
body {
  max-width: 1440px;
  padding: 0px 40px;
  margin: 0 auto;
  background-color: var(--Color_Main);
  font-family: "Inter", sans-serif;
  justify-self: center;
}

a:visited, a:active, a:link {
  text-decoration: none;
  color: var(--Color_Dark);
}

ul, li {
  list-style-type: none;
}

a, button {
  cursor: pointer;
}

header {
  width: 100%;
  height: auto;
  padding: 20px 0;
}

.nav-bar {
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.nav-bar__logo {
  width: 100px;
  height: 60px;
  padding: 6px 3px;
  left: 0px;
}
.nav-bar__logo img {
  width: 94px;
  height: 48px;
}
.nav-bar__navigation {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  gap: 6.25rem;
  transition: all 250ms linear;
}
.nav-bar__navigation-all {
  display: flex;
  gap: 2.5rem;
}
.nav-bar__navigation-menu {
  font-size: 1rem;
  display: none;
}
.nav-bar__navigation-menu img {
  height: 100%;
}
.nav-bar__navigation a {
  position: relative;
}
.nav-bar__menu-button {
  height: 3.75rem;
  right: 0px;
  display: flex;
  align-items: center;
}
.nav-bar__menu-button__menu {
  display: flex;
  width: 4.5rem;
  gap: 0.5rem;
  font-weight: 600;
}
.nav-bar__menu-button__menu p {
  font-size: 1rem;
  line-height: 150%;
}
.nav-bar__menu-button__menu img {
  height: 1.25rem;
}
.nav-bar__menu-button__button {
  display: none;
  width: 44px;
  height: 44px;
  border-radius: 60px;
  border: 1px solid var(--Color_Dark-border);
  background: transparent;
  position: relative;
}
.nav-bar__menu-button__button-rect {
  background-color: var(--Color_Dark);
  width: 16px;
  border: 1.5px solid var(--Color_Dark);
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  transition: all 250ms linear;
}
.nav-bar__menu-button__button-rect__top {
  top: 16px;
  transform-origin: top left;
}
.nav-bar__menu-button__button-rect__top.open {
  transform: rotate(45deg) translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
}
.nav-bar__menu-button__button-rect__bottom {
  top: 25px;
  transform-origin: bottom left;
}
.nav-bar__menu-button__button-rect__bottom.open {
  transform: rotate(-45deg) translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

main {
  width: 100%;
}

.clear {
  clear: both;
}

.advertise {
  width: 100%;
  padding: 6.25rem;
  background: url(../img/Milk-Coffee.jpeg) center 50%/cover no-repeat;
  border-radius: 40px;
  margin-bottom: 100px;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  position: relative;
  overflow: hidden;
}
.advertise__background-video {
  height: 120%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 0;
}
.advertise__info {
  width: 33.125rem;
  color: var(--Color_white);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  position: relative;
  z-index: 1;
}
.advertise__info__text-bold {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 105%;
}
.advertise__info__text-bold__italic {
  color: var(--Color_Brown);
  font-style: italic;
}
.advertise__info__text-small {
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

.button-white {
  z-index: 1;
  background-color: var(--Color_white);
  transition: background-color 250ms linear;
  width: 200px;
  height: 64px;
  position: relative;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 250ms linear;
}
.button-white p {
  color: var(--Color_Dark);
  font-size: 16px;
  font-weight: 600;
}
.button-white img {
  height: 16px;
  display: none;
}

.button-circle {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 6.25rem;
  border: 1px solid var(--Color_Dark-border);
  background: transparent;
  font-size: 1.5rem;
  position: relative;
  transition: all 250ms linear;
}
.button-circle .center {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.button-download {
  width: 12.5rem;
  height: 4rem;
  padding: 12px 20px;
  border-radius: 6.25rem;
  border: solid 1px var(--Color_Dark-border);
  display: flex;
  transition: all 250ms linear;
}
.button-download__logo {
  width: 2.25rem;
  height: 2.25rem;
  font-size: 2.25rem;
  margin-right: 0.5rem;
}
.button-download__text {
  font-weight: 600;
}
.button-download__text-small {
  font-size: 0.625rem;
  line-height: 140%;
}
.button-download__text-big {
  font-size: 1rem;
  line-height: 150%;
}

.roulette {
  width: 100%;
  align-self: stretch;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.roulette__heading {
  text-align: center;
}
.roulette__heading h2 {
  font-size: 3.75rem;
  font-weight: 600;
  color: var(--Color_Dark);
  line-height: 125%;
}
.roulette__heading h2 span {
  font-style: italic;
  color: var(--Color_Brown);
}
.roulette__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.roulette__menu__object {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}
.roulette__menu__object__item {
  flex-grow: 1;
}
.roulette__menu__object__item__view {
  margin: 0 auto;
  max-width: 30rem;
  position: relative;
  overflow: hidden;
}
.roulette__menu__object__item__view__content {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  transition: all 250ms linear;
}
.roulette__menu__object__item__view__content__image {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}
.roulette__menu__object__item__view__content__image img {
  height: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.roulette__menu__object__item__view__content__product {
  color: var(--Color_Dark);
  text-align: center;
}
.roulette__menu__object__item__view__content__product-header {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 1rem;
}
.roulette__menu__object__item__view__content__product-description {
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 1rem;
}
.roulette__menu__object__item__view__content__product-price {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 125%;
}
.roulette__menu__options {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
}
.roulette__menu__options__option {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background-color: var(--Color_light-border);
}
.roulette__menu__options__option__current {
  background-color: var(--Color_Dark-border);
}

.about {
  width: 100%;
  margin-bottom: 100px;
}
.about__description h2 {
  font-size: 3.75rem;
  font-weight: 600;
  color: var(--Color_Dark);
  line-height: 125%;
  margin-bottom: 40px;
}
.about__description h2 span {
  font-style: italic;
  color: var(--Color_Brown);
}
.about__images {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 2.5rem;
}
.about__images__side {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.about__images__side-rect {
  width: 100%;
  height: 0;
  padding-bottom: 65.15%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.about__images__side-square {
  width: 100%;
  height: 0;
  padding-bottom: 89.4%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.about__images__side img {
  width: calc(100% + 70px);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  transition: all 250ms linear;
}

.apps {
  display: flex;
  align-items: center;
  gap: 6.25rem;
  margin-bottom: 100px;
}
.apps__side {
  width: 50%;
  position: relative;
}
.apps__side__description {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.apps__side__description-header {
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 125%;
  color: var(--Color_Dark);
}
.apps__side__description-header span {
  font-style: italic;
  color: var(--Color_Brown);
}
.apps__side__description-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}
.apps__side__description-download {
  width: 100%;
  display: flex;
  gap: 1.25rem;
}
.apps__side-image {
  width: 100%;
  max-width: 39.375rem;
  margin: 0 auto;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}
.apps__side-image img {
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

footer {
  padding-bottom: 40px;
}

.contacts {
  border-radius: 40px;
  padding: 6.25rem;
  background-color: var(--Color_Dark-border);
  display: flex;
  gap: 6.25rem;
}
.contacts__side {
  width: 50%;
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  justify-content: center;
}
.contacts__side-header {
  color: var(--Color_white);
  line-height: 125%;
  font-weight: 600;
  font-size: 3.75rem;
}
.contacts__side-header span {
  color: var(--Color_Brown);
  font-style: italic;
}
.contacts__side-social {
  display: flex;
  gap: 12px;
}
.contacts__side-social__button {
  color: var(--Color_light-border);
  border: 1px solid var(--Color_light-border);
  font-size: 24px;
}
.contacts__side__info-header {
  color: var(--Color_white);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 125%;
}
.contacts__side__info-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contacts__side__info-list li a {
  display: flex;
  gap: 0.5rem;
  color: var(--Color_white);
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
}

.modal_backDrop {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--Background-Backdrop);
  opacity: 0;
  z-index: -1;
  transition: all 250ms linear;
  transition-delay: 100ms;
}
.modal_backDrop_show {
  z-index: 2;
  opacity: 0.8;
  transition: all 250ms linear;
}

.menu {
  width: 100%;
  margin-bottom: 6.25rem;
}
.menu > *:not(:last-child) {
  margin-bottom: 2.5rem;
}
.menu__header {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
}
.menu__header h2 {
  color: var(--Color_Dark);
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 125%;
}
.menu__header h2 span {
  color: var(--Color_Brown);
  font-style: italic;
}
.menu__offer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.menu__offer input {
  display: none;
}
.menu__offer label {
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 8px;
  border-radius: 100px;
  background-color: var(--Color_Main);
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  color: var(--Color_Dark);
  border: 1px solid var(--Color_light-border);
}
.menu__offer label span {
  border-radius: 100px;
  background-color: var(--Color_light-border);
  padding: 3px 7px;
  align-items: center;
}
.menu__offer input:checked + label {
  background-color: var(--Color_Dark-border);
  color: var(--Color_white);
  border-color: var(--Color_Dark-border);
}
.menu__offer input:checked + label span {
  background-color: var(--Color_Main);
}
.menu__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
}
.menu__items__item {
  position: relative;
  border: 1px solid var(--Color_light-border);
  border-radius: 40px;
  width: 310px;
  cursor: pointer;
}
.menu__items__item-img {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.menu__items__item-img img {
  width: calc(100% + 30px);
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  transition: all 250ms linear;
}
.menu__items__item-description {
  padding: 20px;
  width: 310px;
  color: var(--Color_Dark);
  height: calc(100% - 310px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu__items__item-description-contain h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 12px;
}
.menu__items__item-description-contain__desc {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}
.menu__items__item-description__price {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 125%;
  clear: both;
}
.menu__items__modal {
  position: fixed;
  transform: translateX(-50%) translateY(-50%) scale(0);
  left: 50%;
  top: 50%;
  display: flex;
  gap: 1.25rem;
  width: 50rem;
  padding: 1rem;
  border: none;
  border-radius: 2.5rem;
  background-color: var(--Color_Main);
  color: var(--Color_Dark);
  z-index: -2;
  opacity: 0;
  transition: all 250ms linear;
}
.menu__items__modal__show {
  z-index: 3;
  opacity: 1;
  transition: all 250ms linear;
  transition-delay: 100ms;
  transform: translateX(-50%) translateY(-50%) scale(1);
}
.menu__items__modal::backdrop {
  background: var(--Color_Dark-border);
  opacity: 0.6;
}
.menu__items__modal-img {
  width: 19.375rem;
  height: 19.375rem;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 2.5rem;
}
.menu__items__modal-img img {
  width: calc(100% + 30px);
  height: calc(100% + 30px);
}
.menu__items__modal-description {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.menu__items__modal-description__title {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.menu__items__modal-description__title h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 125%;
}
.menu__items__modal-description__title p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}
.menu__items__modal-description__details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.menu__items__modal-description__details-title {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}
.menu__items__modal-description__details-list {
  display: flex;
  gap: 8px;
}
.menu__items__modal-description__details-list input {
  display: none;
}
.menu__items__modal-description__details-list label {
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 8px;
  border-radius: 100px;
  background-color: var(--Color_Main);
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  color: var(--Color_Dark);
  border: 1px solid var(--Color_light-border);
}
.menu__items__modal-description__details-list label span {
  border-radius: 100px;
  background-color: var(--Color_light-border);
  padding: 3px 7px;
  align-items: center;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__items__modal-description__details-list input:checked + label {
  background-color: var(--Color_Dark-border);
  color: var(--Color_white);
  border-color: var(--Color_Dark-border);
}
.menu__items__modal-description__details-list input:checked + label span {
  background-color: var(--Color_Main);
  color: var(--Color_Dark);
}
.menu__items__modal-description__total {
  display: flex;
  gap: 1.25rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 125%;
  align-items: center;
  align-self: stretch;
  flex-wrap: wrap;
}
.menu__items__modal-description__total p {
  flex: 1;
}
.menu__items__modal-description__total-price {
  direction: rtl;
}
.menu__items__modal-description__alert {
  border-top: 1px solid var(--Color_light-border);
  padding: 12px 0;
  display: flex;
  gap: 8px;
}
.menu__items__modal-description__alert-icon {
  font-size: 16px;
}
.menu__items__modal-description__alert-text {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}
.menu__items__modal-description__button {
  padding: 10px 78px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: var(--Color_Dark);
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid var(--Color_Dark-border);
}
.menu__refresh {
  width: 100%;
  align-items: center;
  display: none;
  justify-content: center;
}

@media (max-width: 768px) {
  html {
    font-size: 100%;
  }
  .nav-bar__navigation {
    z-index: -1;
    display: flex;
    flex-direction: column;
    gap: 6.25rem;
    position: absolute;
    top: calc(100% + 19px);
    left: -1px;
    width: calc(100% + 2px);
    height: 0;
    padding: 0;
    background-color: var(--Color_Main);
    font-size: 0;
    font-weight: 600;
    text-align: center;
    align-items: center;
    transition: all 250ms linear;
  }
  .nav-bar__navigation.show {
    z-index: 2;
    height: 100vh;
    padding: 60px 0;
    font-size: 2rem;
    transition: all 250ms linear;
  }
  .nav-bar__navigation-all {
    flex-direction: column;
    gap: 3.75rem;
  }
  .nav-bar__navigation-menu {
    display: flex;
    font-size: 2rem;
    gap: 1rem;
    line-height: 125%;
  }
  .nav-bar__navigation-menu img {
    height: 2.5rem;
  }
  .nav-bar__menu-button__menu {
    display: none;
  }
  .nav-bar__menu-button__button {
    display: block;
  }
  .advertise {
    padding: 6.25rem 3.75rem;
  }
  .button-white img {
    display: block;
  }
  .about__images {
    flex-direction: column;
    width: 100%;
  }
  .about__images__side {
    width: 100%;
  }
  .about__images__side-rect {
    display: none;
  }
  .about__images__side img {
    width: calc(100% + 38px);
  }
  .apps {
    flex-direction: column;
  }
  .apps__side {
    width: 100%;
  }
  .menu__items__modal {
    display: none;
  }
  .menu__refresh {
    display: flex;
  }
  .modal_backDrop {
    display: none !important;
  }
  .contacts {
    padding: 6.25rem 3.75rem;
    flex-direction: column;
  }
  .contacts__side {
    width: 100%;
  }
}
@media (max-width: 760px) {
  html {
    font-size: 90%;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 640px) {
  .advertise__info {
    width: 100%;
  }
  .roulette h1 {
    font-size: 2.5rem;
  }
  .roulette__menu__object-button {
    display: none;
  }
  .roulette__menu__object-item {
    min-width: 20rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 70%;
  }
  .advertise, .contacts {
    padding: 4rem 2rem;
  }
}
@media (max-width: 380px) {
  html {
    font-size: 100%;
  }
  body {
    padding: 0 1rem;
  }
  .advertise {
    padding: 3.75rem 1rem;
  }
  .advertise__info {
    width: 100%;
  }
  .advertise__info__text-bold {
    font-size: 2.625rem;
  }
  .roulette__heading h2 {
    font-size: 2rem;
  }
  .roulette__menu__item {
    width: 21.75rem;
  }
  .roulette__menu__object-button {
    display: none;
  }
  .about__description h2 {
    font-size: 2rem;
  }
  .about__images__side-square {
    padding-bottom: 169.54%;
  }
  .about__images__side img {
    width: calc(100% + 378px);
  }
  .apps__side__description-header {
    font-size: 2rem;
  }
  .apps__side__description-download {
    flex-direction: column;
  }
  .contacts {
    padding: 3.75rem 1rem;
    gap: 2.5rem;
  }
  .contacts__side h2 {
    font-size: 2rem;
  }
  .menu__header h2 {
    font-size: 2rem;
  }
  .menu__offer {
    gap: 0.5rem;
  }
}
@media (hover: hover) {
  .nav-bar__navigation ul a:hover::after {
    width: 100%;
    transition: all 250ms linear;
  }
  .nav-bar__navigation ul a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--Color_Dark-border);
    position: absolute;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: -2;
    transition: all 250ms linear;
  }
  .button-white:hover {
    transition: all 250ms linear;
  }
  .button-white:hover img {
    display: block;
  }
  .button-circle:hover {
    background: var(--Color_Dark-border);
    color: var(--Color_Main);
    transition: all 250ms linear;
  }
  .button-download:hover {
    background: var(--Color_Dark-border);
    color: var(--Color_Main);
    transition: all 250ms linear;
  }
  .about__images img:hover {
    width: 100%;
    transition: all 250ms linear;
  }
  .menu__offer label:hover {
    background-color: var(--Color_Dark-border);
    color: var(--Color_white);
    border-color: var(--Color_Dark-border);
  }
  .menu__offer label:hover span {
    background-color: var(--Color_Main);
    color: var(--Color_Dark);
  }
  .menu__items__item:hover img {
    width: 100%;
    transition: all 250ms linear;
  }
  .menu__items__modal-description__details-list label:hover {
    background-color: var(--Color_Dark-border);
    color: var(--Color_white);
    border-color: var(--Color_Dark-border);
  }
  .menu__items__modal-description__details-list label:hover span {
    background-color: var(--Color_Main);
    color: var(--Color_Dark);
  }
  .menu__items__modal-description__button:hover {
    background-color: var(--Color_Dark-border);
    color: var(--Color_Main);
  }
}/*# sourceMappingURL=style.css.map */